<mat-toolbar color="primary" *ngIf="showMenu">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="dc.first.toggle()">
      <mat-icon aria-label="side nav toggle icon">menu</mat-icon>
    </button>
    <span>Sample</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side" opened role="navigation" *ngIf="showMenu">
    <mat-nav-list>      
      <a *ngFor="let menu of menus" mat-list-item routerLink="{{ menu.link }}" [routerLinkActive]="['is-active']" title="{{ menu.title }}">
        <mat-icon aria-label="side nav toggle icon">{{ menu.icon }}</mat-icon>
        <span>{{ menu.title }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet (activate)="onActivate()"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>