@import '../../theme/variables.scss';

mat-nav-list {
    min-width: 200px;
    mat-icon {
        margin-right: 10px;
    }
}

mat-sidenav-container {
    min-height: 100vh;
}

mat-sidenav-content {
    padding: 40px;
    padding-top: 20px;
}

.is-active {
    background: $primary !important;
    color: #fff !important;
}