<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile>
      <mat-form-field>
        <input autocomplete="off" matInput placeholder="Search" autofocus>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      &nbsp;
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-fab (click)="onAddClick()" [title]="addButtonTitle"><mat-icon>add</mat-icon></button>
    </mat-grid-tile>
  </mat-grid-list>